div{width:400px; height:200px; margin:70px auto 0; text-align:center; }

div p{padding:20px 0; font-size:1.2em; font-weight:bold;}

input{width:38%; padding:5px 8px; margin-right:3px; border:none; border-radius:5px;}
button{padding:5px 8px ; border:none; border-radius:5px; background:orange;}