div.wrap{height:100%; }


div#mainVisual{width:100%; height:100%; margin:40px auto 0;}

/* SubNavi */
div#subNavi{float:left; width:25%; height:1200px;}
div#subNavi div:nth-child(1){height:200px; background:orange;}
div#subNavi div:nth-child(2){height:1000px; background:#f8f8fc;}
div#subNavi div p{text-align:center; font-size:30px; padding-top:60px;}
div#subNavi div ul{padding-top:10px;}
div#subNavi div ul li{text-align:center; padding:15px 0;}
div#subNavi div ul li:nth-child(8){font-weight:bold;}
div#subNavi div ul li a{font-size:20px;}
div#subNavi div ul li ul li{padding:10px 0; font-weight:normal;}
div#subNavi div ul li ul li a{font-size:16px;}
div#subNavi div ul li ul li:nth-child(3){font-weight:bold;}

/* Contents */
div#content{float:right; width:72%; height:1200px; background:#f8f8fc;}
div.textBox p{line-height:1.4em;}

	/* 책배달 */ 	
div#content .delivery{width:93%; height:940px; margin:30px; font-family:'함초롱바탕', Gothic, serif;}
div#content .delivery .images{float:right;}
div#content .delivery .images > img{width:45px; margin-left:5px;}
div#content .delivery h2{font-size:2em; font-weight:bold; padding:15px 0;font-family:'휴먼고딕', Gothic, serif;}
div#content .delivery h3 > img{width:16px; margin:3px 10px;}
div#content .delivery div.clickBox::before{content:""; display:block; clear:both;}
div#content .delivery div.clickBox::after{content:""; display:block; clear:both;}
div#content .delivery div.clickBox img{float:left; width:50%; margin-top:15px; background:#686; box-shadow:1px 1px 5px 0px #333;}

div#content .delivery div.textBox{width:100%; margin-top:30px; padding-bottom:20px; background:#fff9f2; font-family:'휴먼고딕', Gothic, serif;}
div#content .delivery div.textBox h4{width:90%; margin-bottom:15px; font-size:1.2em; font-weight:bold; padding:30px 0 0 40px; }
div#content .delivery div.textBox p{word-break:keep-all; font-size:1em; margin-top:0px; padding:0 40px;}

div#content .delivery div h4{font-weight:bold; margin:20px 0 5px;}
div#content .delivery div li{font-size:14px; font-weight:normal; padding:0px 25px; margin-top:5px; line-height:25px;}
div#content .delivery div img.applyImg{width:97%; margin-left:25px; margin-top:5px;}
div#content .delivery div img.order{width:100%; margin:10px 0; box-shadow:1px 1px 5px 0px #333;}

	/* 책가방 */
div#content .bag{width:93%; height:940px; margin:30px; font-family:'함초롱바탕', Gothic, serif;}
div#content .bag .images{float:right;}
div#content .bag .images > img{width:45px; margin-left:5px;}
div#content .bag h2{font-size:2em; font-weight:bold; padding:15px 0;font-family:'휴먼고딕', Gothic, serif;}
div#content .bag h3 > img{width:16px; margin:3px 10px;}

div#content .bag div.clickBox::before{content:""; display:block; clear:both;}
div#content .bag div.clickBox::after{content:""; display:block; clear:both;}
div#content .bag div.clickBox img{float:left; width:50%; margin-top:15px; background:#686; box-shadow:1px 1px 5px 0px #333;}

div#content .bag div.textBox{width:100%; margin-top:30px; padding-bottom:20px; background:#fff9f2; font-family:'휴먼고딕', Gothic, serif;}
div#content .bag div.textBox h4{width:90%; margin:20px 10px 0; font-size:1.2em; font-weight:bold; padding:30px 0 0 40px;}
div#content .bag div.textBox p{word-break:keep-all; font-size:1em; margin:15px 10px; padding:0 40px;}

div#content .bag div h4{font-weight:bold; margin:30px 0 20px;}
div#content .bag div li{font-size:14px; font-weight:normal; padding:0px 25px; margin-top:5px; line-height:25px;}
div#content .bag div img.applyImg{width:740px; height:200px; margin-left:25px; margin-top:15px;}
div#content .bag div img.order{width:100%; margin:10px 0;box-shadow:1px 1px 5px 0px #333;}

div#content .bag{display:none;}


@media screen and (max-width:1200px){
	div#subNavi{display:none;}

	div#content{width:88%; float:none; margin:0 auto;}
	div#content .delivery,div#content .bag {margin:0 auto;}

	div#footer{height:300px;}
	div#footer .footerTop{height:120px; border-bottom:none;}
	div#footer .guideMenu{height:55px; border-bottom:1px solid #856;}
	div#footer .siteLink{float:right; width:250px; margin:30px 0 0;}
	div#footer .logoFooter{position:absolute; left:5%; top:53%; margin:0; padding:0;}
	div#footer address{display:inline-block; width:70%; float:right; margin-top:20px;}
	div#footer address span{float:left; padding:20px;}

}

@media screen and (min-width:800px) and (max-width:969px){
	div#header > a img{display:block; width:6%; float:right; margin:10px 10px 0;}
	div#header div.left{width:470px; height:60px; float:left;}
	div#header div.right{display:none;}

	div#subNavi{display:none;}

	div#mainVisual{width:100%; margin:40px auto 0;}
	div#content{width:100%; float:none; margin:0 auto;}
	div#content .delivery,div#content .bag {margin:0 auto;}

	div#footer ul.guideMenu li{padding:10px;}
	div#footer address span{float:left; padding:20px 0 0 25px;}
}

@media screen and (min-width:580px) and (max-width:799px){
	.wrap{overflow:hidden;}
	div#header{display:none;}
	
	div#navigator input{display:none;}
	div#navigator label{display:block;}
	div#navigator label img{width:40px; padding:15px; position:fixed;}
	
	div#navigator{position:fixed; z-index:9999; width:100%; height:70px; background:url(../images/common/logo.png) no-repeat center; background-color:orange; cursor:pointer;}
	
	div#navigator ul{width:100%; height:100%; position:fixed; left:1000px; top:0px; background:#fff1d8; z-index:9999; transition:all 1s ease;}
	div#navigator ul li{float:none;}
	div#navigator ul li a{font-size:1.1em; height:40px; width:100px; line-height:40px; text-align:right; padding:10px 30px;}
	
	div#navigator #menubar:checked ~ ul{left:65px;}

	div#navigator ul:hover li ul{height:100%;}
	div#navigator ul li:hover{background:#620000;}
	div#navigator ul li:hover > a{color:white;}
	div#navigator ul li:hover > ul{left:160px;}
	
	div#navigator ul li ul{position:absolute; width:100%; height:100%; left:700px; top:0; padding-top:10px; overflow:hidden; border:none; transition:all 1s ease;}
	div#navigator ul li ul li a{font-size:13px; width:140px; padding:0px 20px; margin:10px 0; text-align:left;}
	
	div#mainVisual{width:100%; margin:70px auto 0;}
	div#content{width:100%; float:none; margin:0 auto;}
	div#content > div{margin:0 auto;}
	div#content div.textBox{margin-bottom:30px;}
	div#content div img.applyImg{margin-left:0px;}
	div#content h2{padding:30px 0 20px;}
	div#content h3 span{display:none;}
	div#content div h4{margin:30px 0 5px;}

	div#footer .footerTop{height:60px; border-top:none;}
	ul.guideMenu li, div.siteLink{display:none;}
	ul.guideMenu li:nth-child(1),ul.guideMenu li:nth-child(2){display:block;}
	ul.guideMenu li a{font-size:0.9em;}
	div#footer address{clear:both; position:absolute; left:15%; width:550px;}
	div#footer address span{display:block;font-size:0.8em; margin:0; padding:5px 10px;text-align:center;}

	div#footer .logoFooter{width:100%; display:block;}
	div#footer .logoFooter img{position:absolute; top:0; left:11%;}
}

@media screen and (min-width:430px) and (max-width:579px){
	.wrap{overflow:hidden;}
	div#header{display:none;}

	div#navigator input{display:none;}
	div#navigator label{display:block;}
	div#navigator label img{width:40px; padding:15px; position:fixed; z-index:10000;}
	
	div#navigator{position:fixed; z-index:9999; width:100%; height:70px; background:url(../images/common/logo.png) no-repeat center; cursor:pointer;background-color:orange;}
	
	div#navigator ul{width:100%; height:100%; position:fixed; left:700px; top:0px; background:#fff1d8; z-index:9999; transition:all 1s ease;}
	div#navigator ul li{float:none;}
	div#navigator ul li a{font-size:1.1em; height:40px; width:100px; line-height:40px; text-align:right; padding:10px 30px;}
	
	div#navigator #menubar:checked ~ ul{left:65px;}

	div#navigator ul:hover li ul{height:100%;}
	div#navigator ul li:hover{background:#620000;}
	div#navigator ul li:hover > a{color:white;}
	div#navigator ul li:hover > ul{left:160px;}
	
	div#navigator ul li ul{position:absolute; width:100%; height:100%; left:700px; top:0; padding-top:10px; overflow:hidden; border:none; transition:all 1s ease;}
	div#navigator ul li ul li a{font-size:13px; width:140px; padding:0px 20px; margin:10px 0; text-align:left;}

	div#content{width:100%; float:none; margin:0 auto;}
	div#content .images{display:none;}
	div#content .delivery,div#content .bag {margin:0 auto;}
	div#content .delivery h2{padding:65px 0 20px;}
	div#content .delivery h3 span{display:none;}
	div#content .delivery div img.applyImg{margin-left:0;}
	div#content .bag h2{padding:65px 0 20px;}
	div#content .bag h3 span{display:none;}
	div#content .bag div img.applyImg{margin-left:0;}

	
	div#footer{margin-top:10px; height:100%; }
	div#footer .footerTop{width:100%; height:60px; margin-bottom:20px;}
	ul.guideMenu li, div.siteLink{display:none;}
	ul.guideMenu li:nth-child(1),ul.guideMenu li:nth-child(2){display:block;}
	ul.guideMenu li a{font-size:0.9em;}
	div#footer address{float:none; width:90%; margin:0px; padding:0 30px;}
	div#footer address span{float:none; display:block;font-size:0.8em; margin:0; padding:5px 10px;text-align:center;}
	div#footer address span.addr{display:none;}
	div#footer address span:nth-child(2){float:left; padding:5px 45px 5px 0;}
	div#footer address span:nth-child(3){float:right; padding:5px 0 5px 45px;}
	div#footer .logoFooter{width:100%; display:block;}
	div#footer .logoFooter img{position:absolute; bottom:-30px; left:50%; margin-left:-130px;}
}

@media screen and (min-width:320px) and (max-width:429px){
	.wrap{overflow:hidden;}
	div#header{display:none;}

	div#navigator input{display:none;}
	div#navigator label{display:block;}
	div#navigator label img{width:40px; padding:15px; position:fixed;}
	
	div#navigator{position:fixed; z-index:9999; width:100%; height:70px; background:url(../images/common/logo.png) no-repeat center; cursor:pointer;background-color:orange;}
	
	div#navigator ul{width:100%; height:100%; position:fixed; left:500px; top:0px; background:#fff1d8; z-index:9999; transition:all 1s ease;}
	div#navigator ul li{float:none;}
	div#navigator ul li a{font-size:1.1em; height:40px; width:100px; line-height:40px; text-align:right; padding:10px 30px;}
	
	div#navigator #menubar:checked ~ ul{left:65px;}

	div#navigator ul:hover li ul{height:100%;}
	div#navigator ul li:hover{background:#620000;}
	div#navigator ul li:hover > a{color:white;}
	div#navigator ul li:hover > ul{left:160px;}
	
	div#navigator ul li ul{position:absolute; width:100%; height:100%; left:500px; top:0; padding-top:10px; overflow:hidden; border:none; transition:all 1s ease;}
	div#navigator ul li ul li a{font-size:13px; width:140px; padding:0px 20px; margin:10px 0; text-align:left;}

	div#content{width:100%; height:1200px; background:#f8f8fc;}
	div#content .images{display:none;}
	div#content .delivery,div#content .bag {margin:0 auto;}
	div#content .delivery h2{padding:65px 10px 20px; font-size:1.5em;}
	div#content .delivery h3 span{display:none;}
	div#content .delivery div.textBox h4{font-size:1.2em; margin:0; padding:25px 20px;}
	div#content .delivery div.textBox p{font-size:0.9em;}
	div#content .delivery div img.applyImg{margin-left:0;}
	div#content .bag h2{padding:65px 10px 20px; font-size:1.5em;}
	div#content .bag h3 span{display:none;}
	div#content .bag div.textBox h4{font-size:1.2em; margin:0; padding:25px 20px;}
	div#content .bag div.textBox p{font-size:0.9em;}
	div#content .bag div img.applyImg{margin-left:0;}


	div#footer{margin-top:10px; height:100%; }
	div#footer .footerTop{width:100%; height:50px; margin-bottom:0px;}
	div#footer div.siteLink{display:none;}
	div#footer ul.guideMenu{ height:50px; margin-left:-375px;}
	div#footer ul.guideMenu li{margin:10px 0 0; padding:0;}
	div#footer ul.guideMenu li a{font-size:0.9em; margin:0; padding:10px;}
	
	div#footer address{float:none; width:90%; margin:0px; padding:0 30px;}
	div#footer address span{float:none; display:block; font-size:0.8em; margin:10px; padding:0 12px; text-align:center;}
	div#footer address span.addr{display:none;}
	div#footer address span.tel{float:left;}
	div#footer address span.fax{float:left;}
	div#footer address span.copyright{float:none; padding:0; margin:10px 0;}
	div#footer .logoFooter{width:100%; display:block;}
	div#footer .logoFooter img{position:absolute; bottom:-40px; left:50%; margin-left:-110px;}

}
